<ng-template #defaultMode>
  <div class="flex">
    <p>Username: </p>
    <p>{{(currentUser$ | async)?.username}}</p>
  </div>
  <div class="flex">
    <p>Email: </p>
    <p>{{(currentUser$ | async)?.email}}</p>
  </div>
  <div class="flex">
    <p>Phone: </p>
    <p>+359 {{(currentUser$ | async)?.tel}}</p>
  </div>
  <button class="edit-button" (click)="toggleEditMode(false)">Edit</button>
</ng-template>

<ng-template #editMode>
  <form #f="ngForm" (ngSubmit)="submitHandler(f.value)">
    <div class="flex">
      <p>Username: </p>
      <input type="text" name="username" id="username" [ngModel]="(currentUser$ | async)?.username">
    </div>
    <div class="flex">
      <p>Email: </p>
      <input type="email" name="email" id="email" [ngModel]="(currentUser$ | async)?.email">
    </div>
    <div class="flex">
      <p>Phone: </p>
      <div>
        <select name="select-tel" id="select-tel" class="tel">
          <option value="00359">+359</option>
        </select>
        <input type="text" name="tel" id="tel" value="885 888 888" [ngModel]="(currentUser$ | async)?.tel">
      </div>
    </div>
    <button [disabled]="isLoading$ | async" type="button" class="red-button"
      (click)="toggleEditMode(true)">Cancel</button>

    <button [disabled]="isLoading$ | async" class="green-button">Save</button>
    <app-loader [isLoading]="isLoading$ | async"></app-loader>
  </form>
</ng-template>

<div class="profile">
  <img src="/assets/profile.png" alt="default user">
  <h3>User Info:</h3>
  <ng-container *ngTemplateOutlet="(inEditMode$ | async) ? editMode : defaultMode"></ng-container>
</div>