<div class="new-theme-border">
  <div class="header-background">
    <span>New Theme</span>
  </div>
  <form #f="ngForm" (ngSubmit)="submitHandler(f.value)">
    <div class="new-theme-title">
      <label for="themeName">Title <span class="red">*</span></label>
      <input #themeName="ngModel" type="text" name="themeName" id="themeName" ngModel required minlength="5">
      <p class="error" *ngIf="themeName.touched && themeName.errors?.required">
        Theme name is required.
      </p>
      <p class="error" *ngIf="themeName.touched && themeName.errors?.minlength">
        Theme name must be at least 5 characters long.
      </p>
    </div>
    <div class="new-theme-content">
      <label for="postText">Post <span class="red">*</span></label>
      <textarea #postText="ngModel" type="text" name="postText" id="postText" rows="8" class="height" ngModel required
        minlength="10"></textarea>
      <p class="error" *ngIf="postText.touched && postText.errors?.required">
        The field with your post is required.
      </p>
      <p class="error" *ngIf="postText.touched && postText.errors?.required">
        Post must be at least 10 characters long.
      </p>
    </div>
    <div class="new-theme-buttons">
      <button type="button" class="cancel" routerLink="/">Cancel</button>
      <button class="public">Post</button>
    </div>

  </form>
</div>